.app-page{
    /*
    * COLORS
    * bg green      #106e3d
    * light green   #1c7e4d
    * light2 green  #2c8e5d
    * light3 green  #3c9e6d
    * dark green    #005e2d
    * yellow        #ecb91d
    * light yellow  #fcc92d
    * dark yellow   #cf9b00
    */
    background-color: #106e3d;
    height: 768px;
    width: 1024px;
    border: 15px solid black;
}

body {
    margin: 0;
    background-color: white;
    font-family: 'Raleway', Sans-Serif;
    font-size: 18px;
    color: white;
}

h1.head {
    font-family: 'Raleway', Sans-Serif;
    text-align: center;
    font-size: 60px;
    color: white;
}

h2 {
    font-family: 'Raleway', Sans-Serif;
    text-align: center;
    font-size: 44px;
}

h3 {
    font-family: 'Raleway', Sans-Serif;
    text-align: center;
    font-size: 28px;
}
