.app-page{
    /*
    * COLORS
    * bg green      #0c6e3d
    * light green   #9dedc5
    * dark green    #094f2c
    */
    background-color: #0c6e3d;
    height: 768px;
    width: 1024px;
    border: 15px solid black;
}

body {
    margin: 0;
    background-color: white;
    font-family: 'Raleway', Sans-Serif;
    font-size: 18px;
    color: white;
}

h1.head {
    font-family: 'Raleway', Sans-Serif;
    text-align: center;
    font-size: 60px;
    color: white;
}

h2 {
    font-family: 'Raleway', Sans-Serif;
    text-align: center;
    font-size: 44px;
}

h3 {
    font-family: 'Raleway', Sans-Serif;
    text-align: center;
    font-size: 28px;
}
