body {
    /*
    COLORS:
    ORANGE BG       #DCBE61
    MAROON BG       #DCBE61
    ORANGE NOTIF    #BB6239
    YELLOW BG       #DCBE61
    GREEN           #78866B
    */

    background-color: #DCBE61;
}

.h2 {
    text-align: center;
    font-family: 'Raleway', Sans-Serif;
    font-size: 44px;
}
