@import url("https://fonts.googleapis.com/css?family=Cabin|Roboto:400,700|Roboto+Condensed:400,700");

body{
    background-color: #DCBE61;
}

.h2{
    text-align: center;
    font-family: 'Raleway', Sans-Serif;
    font-size: 44px;
}

.search-bar{
    position: absolute;
    top: 20%;
    left: 50%;
    background: #6C464E;
    transform: translate(-50%, -50%);
    height: 40px;
    border-radius: 30px;
    padding: 5px;
}
.search-bar:hover > .search-text{
    width: 300px;
    padding: 0 5px;
}

.search-bar:hover > .search-btn{
    background: white;
    width: 30px;
    height: 29px;
}

.search-btn{
    color:black;
    float: right;
    width: 30px;
    height: 29px;
    border-radius: 50%;
    background: #6C464E;
    display: flex;
    justify-content: center;
    align-items: center; 
    transition: 0.4s;
}

.search-text{
    border:none;
    background:none;
    outline:none;
    float:left;
    color:white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 30px;
    width: 0px;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  height: 200px;
  width: 150px;
  display:none;
}

.show {
	display:block;
}

.recipe-cards{
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, 240px));
  grid-column-gap: 5px;
  grid-row-gap: 50px;
  justify-content: left;
}
/* Filtering Bar */
.sorting{
	float:left;
	width: 15%;
	justify-content:left;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-style: solid;
  border-width: 2px;
  border-color: white;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a green background */
.container input:checked ~ .checkmark {
  background-color: green;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

    



