@import url("https://fonts.googleapis.com/css?family=Cabin|Roboto:400,700|Roboto+Condensed:400,700");

/* table of ingredients */

/* add borders to table */

table, th, td {
    border: 1px solid black;
}

/* header font */
head{
    font-family: 'Raleway', Sans-Serif;
}

/* align columns for table */
#mytable {
    font-family: 'Raleway', Sans-Serif;
    margin: 0 auto;
}

#mytable td {
    width: 40%;
}

#mytable .center {
    text-align: center;
}

#mytable .right {
    text-align: right;
}

/* center align for table */
.center {
    margin-left: auto;
    margin-right: auto;
}

/* buttons */
button {
    font-size: 18px;
    font-family: 'Raleway', Sans-Serif;
}

.btn {
    font-family: 'Raleway', Sans-Serif;
    width: 100%;
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #2a751b;
    cursor: pointer;
}

.btn:hover {
    background-color: #3a852b;
}

/* ordered list of steps */
ol {
    /* items are centered, maybe wanna change later? */
    text-align: center;
    list-style-position: inside;
    transform: translateX(-20px);
}

/*
SOURCES
https://stackoverflow.com/questions/26118293/css-positioning-to-center-plus-x-pixel
*/
