@import url("https://fonts.googleapis.com/css?family=Cabin|Roboto:400,700|Roboto+Condensed:400,700");

body{
    color: white;
}

.app-page{
    background-color: #DCBE61;
    height: 768px;
    width: 1024px;
    border: 20px solid gray
;
}

.h2{
    text-align: center;
    font-family: 'Raleway', Sans-Serif;
    font-size: 44px;
}

.notifications {
    position: relative;
    top: 13%;
    left: 14%;
    width: 200px;
    margin-left: -100px;

}

.immediate i {
    float:left;
    margin-right:30px;
}

.update i {
    float:left;
    margin-right:30px;
}

.alarm i {
    float:left;
    margin-right:20px;
}

.alert1{
    padding: 20px;
    background-color: #6C464E;
    color: white;
    margin-bottom: 5%;
    text-align: center;
    font-family: 'Open Sans', Sans-Serif;
    font-size: 15px;
    width: 400px;
}

.alert2{
    padding: 20px;
    background-color: #78866b;
    color: white;
    margin-bottom: 5%;
    text-align: center;
    font-family: 'Open Sans', Sans-Serif;
    font-size: 15px;
    width: 400px;
}

.alert3{
    padding: 20px;
    background-color:#BB6239;;
    color: white;
    margin-bottom: 5%;
    text-align: center;
    font-family: 'Open Sans', Sans-Serif;
    font-size: 15px;
    width: 400px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
}


.social-menu ul {
    position: absolute;
    top: 550px;
    left: 500px;
    transform: translate(-50%, -50%);
    padding: 140;
    margin: 0;
    display: flex;
}
.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}

.social-menu img{
    padding-top: 30;
    width: 60%;
}


.social-menu ul li a {
    position: relative;
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 70%;
    background-color: white;
    text-align: center;
    align-content: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: #BB6239;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #6C464E;;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color:  #BB6239;
}
.social-menu ul li:nth-child(4) a:hover {
    background-color:#6C464E;
}
.social-menu ul li:nth-child(5) a:hover {
    background-color:  #BB6239;
}




/* Weather widget panel: https://www.youtube.com/watch?v=B8QhpaUDnYU*/

.weather{
    margin: 0;
    padding: 10;
    background: #ffc0cb;
    font-family: 'Open Sans', Sans-Serif;
    position: absolute;
    width: 400px;
    height: 180px;
    left: 550px;
    top: -100px;
    margin: 300px auto;
    background-color: #fcfdfd;
    border-radius: 10px;
    padding: 20px;
    padding-right: 30px;
    box-shadow: 0px 28px 30px -25px #080c21;
    
}
.date{
    font-size: 13px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
}
.city{
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.7);
    padding-top: 5px;
}
.panel{
    display: inline-block;
}
.temperature{
    font-size: 60px;
    color: rgba(0, 0, 0, 0.9);
}
.temperature img{
    width: 70px;
}
#right{
    position: absolute;
    top: 0;
    margin-top: 5px;
    padding-left: 22px;
}
#right img{
    width: 160px;
}





