@import url("https://fonts.googleapis.com/css?family=Cabin|Roboto:400,700|Roboto+Condensed:400,700");

.btn-add {
  background-color: #2a751b;
  border: none;
  outline: none;
  color: white
}

.btn-add:hover {
  background-color: #3a852b;
  cursor: pointer;
}

.ctrl-btns {
  display: flex;
  justify-content: center;
}

.container {
  overflow: hidden;
}

.filterDiv {
  font-family: 'Raleway', Sans-Serif;
  float: left;
  /* background-color: #2196F3; */
  background-color: #ecb91d;
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none; /* Hidden by default */
}

.filterDiv.active {
  font-family: 'Raleway', Sans-Serif;
	background-color: #f1f1f1;
	color: white;
}

.filterDiv:hover {
  /* background-color: #31a6ff; */
  background-color: #fcc92d;
}
/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  font-family: 'Raleway', Sans-Serif;
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #666;
  color: white;
}
